@import 'root.scss';

footer {
    // set dimensions
    height: var(--f-height);
    width: 100vw;

    // set background color
    background-color: var(--c-lighter);
    border-top: 1px;
    border-top-style: solid;
    border-top-color: var(--c-grey-f);

    // set overflow to hidden
    overflow: hidden;

    display: flex;
    flex-direction: row;


    // justify items in center
    justify-items: center;
    align-items: center;
    text-align: center;


    img {
        height: 25px;
        width: 25px;
        border-radius: 100%;
        margin-right: 10px;

    }

    .footer-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding-left: 25px;
        padding-right: 25px;
    }

    .copyright {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding-left: 25px;
        padding-right: 25px;
    }
}