main {
    // overide default padding
    padding: 0;
    margin: 0;
    border: 0;
    min-height: calc(100vh - var(--h-height) - var(--f-height) + 75px);
    margin-top: var(--h-height);
    margin-bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;  
    //margin-top: var(--h-height);

    display: flex;
    flex-direction: column;
    align-items: center;

    .mdheader{
        width: 100%;
        h1 {
            font-size: 2.5rem;
            font-weight: 400;
            margin-bottom: 0;
        }
        h2 {
            font-size: 1.125rem;
            font-weight: 100;
            padding-left: 25px;
        }

        p {
            font-size: 1rem;
            font-weight: 100;
            padding-left: 25px;
            padding-right: 25px;
        }

        .tags a {
            padding-left: 2px;
            padding-right: 2px;
        }
        i {
            padding-left: 1px;
            padding-right: 4px;
        }
    }

    .mdcontent{
        h1 {
            font-size: 2rem;
            font-weight: 400;
            margin-bottom: 0;
        }
        h2 {
            font-size: 1.125rem;
            font-weight: 100;
            padding-left: 50px;
        }

        p {
            font-size: 1rem;
            font-weight: 100;
            //padding-left: 25px;
        }
    }
}