---
import Layout from "../layouts/Layout.astro";
import '../styles/contact.scss';
import Contact from "../components/contact";
---

<Layout title="Contact Me" description="You can contact StudenteUK from this page.">
    <h1>Contact Us</h1> 
    <Contact client:load />
</Layout>

