---
import Layout from "../layouts/Layout.astro";
import { recipe } from "./recipes/test.astro";

const posts = await Astro.glob("../pages/recipes/*.astro");
console.log(JSON.parse(posts[0].recipe));

const recipes = posts.map(post => {
    return JSON.parse(post.recipe);
});

// I am ashamed of this code, but it works
---

<Layout title="Blog" description="Welcome to my blog!!">
    <h1>Recipes</h1>
    <div class="recipes">
        {recipes.map(recipe => {
            <div class="recipe">
                <h2>{recipe}</h2>
                <p>{recipe.info.description}</p>
            </div>
        })}
    </div>
</Layout>
