---
import Layout from "../layouts/Layout.astro";
import Recipe from "../layouts/Recipe.astro";
export interface Recipes {
    // make a list of Recipe objects
    recipes: Recipe[];
}

// for each page in the recipes folder, get the recipe object
const recipes = Object.values(import.meta.globEager("../recipes/*.astro")).map((recipe) => recipe.default);
console.log(recipes);
// I am ashamed of this code, but it works
---

<Layout title="Blog" description="Welcome to my blog!!">
    <h1>Recipes</h1>
    <div class="recipes">
        {recipes.map(recipe => {
            <div class="recipe">
                <h2>{recipe}</h2>
                <p>{recipe.info.description}</p>
            </div>
        })}
    </div>
</Layout>

[x: string]: string;