---
import Layout from "../layouts/Layout.astro";


const recipes = await Astro.glob("./recipes/*.mdx");
// I am ashamed of this code, but it works
---

<Layout title="Blog" description="Welcome to my blog!!">
    <h1>Recipes</h1>
    <div class="recipes">
        {recipes.map((recipe) => {
            return (
                <div class="recipe">
                    <a href={recipe.url}>
                        <h2>{recipe.frontmatter.title}</h2>
                    </a>
                </div>
            );
        })}
    </div>
</Layout>
