<div class="contact-us" id="contact">
    <div class="image">
        <img
            class="contact-image"
            src="/assets/index-banner-ii.webp"
            alt="https://www.pexels.com/photo/top-view-of-food-1640772/"
        />
    </div>
    <div class="contact-box">
        <h3>Get in touch with us!</h3>

        <form class="contact-form">
            <label> Your Name </label>
            <input type="text" name="name" />

            <label> Your Email </label>
            <input type="email" name="email" />

            <label> Your Message </label>
            <textarea name="message" />

            <button type="submit">Send</button>
        </form>

        <p>
            We always love to hear from you! If you have any questions or comments, please feel free to contact us. 
            You can also find our social media links below. - studente!
        </p>
    </div>
</div>
