<div class="contact-us" id="contact">
    <div class="image">
        <img
            class="contact-image"
            src="/assets/index-banner-ii.webp"
            alt="https://www.pexels.com/photo/top-view-of-food-1640772/"
        />
    </div>
    <div class="contact-box">
        <h3>Get in touch with us!</h3>

        <p>
            We always love to hear from you! If you have any questions or comments, please feel free to contact us. 
            You can also find our social media links below. - studente!
        </p>

        <form class="contact-form">
            <div class="form-item">
                <label> Your Name </label>
                <input class="input" type="text" name="name" />
            </div>

            <div class="form-item">
                <label> Email </label>
                <input class="input" type="email" name="email" />
            </div>

            <div class="form-item">
                <label> Your Message </label>
                <textarea class="textarea" name="message"/>
            </div>

            <button class="send" type="submit">Send</button>
        </form>
    </div>
</div>
