<div class="contact-us">
    <h3>Get in touch with us!</h3>

    <form class="contact-form">
        <label> Your Name </label>
        <input type="text" name="name" />

        <label> Your Email </label>
        <input type="email" name="email" />

        <label> Your Message </label>
        <textarea name="message" />

        <button type="submit">Send</button>
    </form>
</div>