---
const questions = [
    {"question": "What is Studente?", "answer": "Studente is a website aimed at students to help them improve their cooking skills"},
    {"question": "How does it work?", "answer": "To use Studente, You can just search for a recipe and follow the instructions"},
    {"question": "TODO", "answer": "Add more FAQ's"},
    {"question": "Is this a real company?", "answer": "Sadly not, this is a group project for our university course."},
]
---

<div class="faq">
    {
        questions.map((question, index) => {
            return (
                <div class="faq__question">
                    <h3>{question.question}</h3>
                    <p>{question.answer}</p>
                </div>
            )
        })
    }
</div>