---
import Header from '../components/header';
import Footer from '../components/footer';
import Layout from '../layouts/Layout.astro';
import '../styles/main.scss';


export interface Recipie {
    info: {
        name: string,
        video: string,
        description: string,
        tags: string[]
    },
    ingredients: {
        quantity: string,
        unit: string,
        item: string,
        notes: string,
        alternatives: string[]
    }[],
    equipment: {
        name: string,
        description: string
    }[],
    method: {
        short: string,
        long: string
    }[]
}

const { rawdata } = Astro.props
console.log(rawdata)
const {info, ingredients, equipment, method} = JSON.parse(rawdata)
---

<Layout title= { info.name } description= { info.description }>
    <div class="recipe">
        <div class="info">
            <h1>{ info.name }</h1>
            <div class="video">
                <iframe src={ info.video }></iframe>
            </div>
            <div class="description">
                <p>{ info.description }</p>
            </div>
            <div class="tags">
                <ul>
                    { info.tags.map((tag: unknown) => (
                        <li>{ tag }</li>
                    )) }
                </ul>
            </div>
        </div>
        <div class="ingredients">
            <h2>Ingredients</h2>
            <ul>
                { ingredients.map((ingredient: unknown) => (
                    <li>
                        <span class="quantity">{ ingredient.quantity }</span>
                        <span class="unit">{ ingredient.unit }</span>
                        <span class="item">{ ingredient.item }</span>
                        <span class="notes">{ ingredient.notes }</span>
                        <span class="alternatives">{ ingredient.alternatives }</span>
                    </li>
                )) }
            </ul>
        </div>  
        <div class="equipment">
            <h2>Equipment</h2>
            <ul>
                { equipment.map((item: unknown) => (
                    <li>
                        <span class="name">{ item.name }</span>
                        <span class="description">{ item.description }</span>
                    </li>
                )) }
            </ul>
        </div> 
        <div class="method">
            <h2>Method</h2>
            <ol>
                { method.map((step: unknown) => (
                    <li>{ step }</li>
                )) }
            </ol>
        </div>
    </div>

</Layout>